---
layout: default
notes: active
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>


<!--<div class="notes">-->
  <!--<div class="note single">-->
    <!--<h1 class="title">{{ page.title }}</h1>-->

    <!--<h2 class="date"><info datetime="{{ page.date }}">-->
      <!--{{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}-->
    <!--</info></h2>-->
    <!--&lt;!&ndash; Post content &ndash;&gt;-->
    <!--<div class="notebody">-->
      <!--{{ content }}-->
    <!--</div>-->
    <!--&lt;!&ndash; Post info &ndash;&gt;-->
    <!--<div class="noteinfo">-->
      <!--&lt;!&ndash; include some categories and tags maybe? &ndash;&gt;-->
    <!--</div>-->

    <!--<hr>-->

    <!-- Post comments -->
    <div class="notecomments">
      {% include disqus.html %}
    </div>
  <!--</div>&lt;!&ndash; / .note .single &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.notes &ndash;&gt;-->